# =======================================
# Virtual environment
# =======================================
venv/

# ===========================================
# Raw dataset directories
# =======================================
TrafficLabelling/

# =======================================
# Preprocessed data (generated)
# =======================================
preprocessed_binary_10k/
preprocessed_multiclass_20k/
final_preprocessed_data/

# =======================================
# Python cache
# =======================================
__pycache__/
*.pyc

# =======================================
# Editor / System junk
# =======================================
.DS_Store
.vscode/
.idea/


live/
*.csv
!DDOS_sample_500.csv
node_modules/
frontend/node_modules/
frontend/dist/
